img{
    width: 30%;
    height: 30px;
    margin-top: 0;
}
.label{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
}
.input{
    font-size: 1.2em;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20px;
}
button{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(171, 207, 207);
    margin-left: 20px;
}